//
   Created by lingqianxie on 5/6/15.

extends layout
block content
   h1 Result
   p class #{classaname} estimated grade: #{classa}
   p class #{classbname} estimated grade: #{classb}
   p class #{classcname} estimated grade: #{classc}
block script
